* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  background-color: rebeccapurple;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.toasts {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.toast {
  background-color: #fff;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 0.3rem;
  margin: 1rem;
}
.toast.success {
  color: green;
}
.toast.error {
  color: red;
}
.toast.valid {
  color: rebeccapurple;
}

.btn {
  color: rebeccapurple;
  background-color: #fff;
  border: transparent;
  padding: 1rem;
  box-shadow: 0px 3px 5px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 1.8rem;
}
.btn:active {
  transform: scale(0.98);
}
